.loginContainer {
  display: flex;
  justify-content: center;
  .formContainer {
    .formFillContainer {
      margin-top: 10px;
      .email {
        margin-right: 12px;
      }
      .button {
        position: relative;
        color: white;
        background-color: rgba(0, 0, 0, 0.1);
        font-size: 25px;
        text-transform: uppercase;
        margin-top: 50px;
        text-align: center;
        height: 50px;
        width: 300px;
        border-color: white;
      }
      .selection {
        margin-top: 20px;
        text-align: start;
        display: flex;
        justify-content: space-between;
        .text {
          color: white;
          font-weight: bold;
          color: #ff3939;
        }
      }
      .footerText {
        text-align: end;
        margin-top: 10rem;
        color: white;
      }
    }
  }
}
