<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528627441524-boj4r94lmf1rjj0psgbpdbrlijlp9jak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528627441524-boj4r94lmf1rjj0psgbpdbrlijlp9jak</string>
	<key>API_KEY</key>
	<string>AIzaSyCU3Ns1Q8VS42ijkLBYopP6R46nWQJflFc</string>
	<key>GCM_SENDER_ID</key>
	<string>528627441524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ky7org.weight-loss-consultant.weightLossConsultantMobile</string>
	<key>PROJECT_ID</key>
	<string>weight-loss-e4847</string>
	<key>STORAGE_BUCKET</key>
	<string>weight-loss-e4847.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528627441524:ios:5fe933ca315c962e6ad621</string>
</dict>
</plist>