.header {
  padding: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 10px 30px 0px;
  .search {
    display: flex;
    .modal {
      margin-left: 10px;
      font-size: 20px;
      color: #ff3939;
    }
  }
}

.header h1.ant-typography,
.header .ant-typography h1 {
  font-weight: normal;
  margin-bottom: 10px;
  font-size: var(--font-size-extra-large);
}
