.header {
  background-color: #ff3939;
  padding: 20px 0;
  .search {
    display: flex;
    .modal {
      margin-left: 10px;
      font-size: 20px;
      color: #ff3939;
    }
  }
}

.header h1.ant-typography,
.header .ant-typography h1 {
  font-weight: normal;
  margin-bottom: 10px;
  font-size: var(--font-size-extra-large);
}
