*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*
**/.vagrant/
**/DerivedData/
Icon?
**/Pods/
**/.symlinks/
profile
xcuserdata
**/.generated/
Flutter/App.framework
Flutter/Flutter.framework
Flutter/Flutter.podspec
Flutter/Generated.xcconfig
Flutter/ephemeral/
Flutter/app.flx
Flutter/app.zip
Flutter/flutter_assets/
Flutter/flutter_export_environment.sh
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
/build/Pods.build/Release-iphonesimulator/DKImagePickerController.build/dgph
/build/Pods.build/Release-iphonesimulator/DKImagePickerController-DKImagePickerController.build/dgph
/build/Pods.build/Release-iphonesimulator/DKPhotoGallery.build/dgph
/build/Pods.build/Release-iphonesimulator/DKPhotoGallery-DKPhotoGallery.build/dgph
/build/Pods.build/Release-iphonesimulator/file_picker.build/dgph
/build/Pods.build/Release-iphonesimulator/Flutter.build/dgph
/build/Pods.build/Release-iphonesimulator/hexcolor.build/dgph
/build/Pods.build/Release-iphonesimulator/image_picker.build/dgph
/build/Pods.build/Release-iphonesimulator/open_file.build/dgph
/build/Pods.build/Release-iphonesimulator/Pods-Runner.build/dgph
/build/Pods.build/Release-iphonesimulator/SDWebImage.build/dgph
/build/Pods.build/Release-iphonesimulator/SwiftyGif.build/dgph
/build/Pods.build/Release-iphonesimulator/url_launcher.build/dgph
/Podfile
/Podfile.lock
